*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #efefef;
  color: #222;
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
}

main {
  width: 90%;
  max-width: 90rem;
  padding: 2rem;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  min-height: 40rem;
  flex: 0 0 30.666666%;
  margin-bottom: 4%;
  font-size: 12rem;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.back,
.front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: all 0.3s;
  box-shadow: 0 0.5rem 2rem -0.5rem rgba(0, 0, 0, 0.1);
}

.front {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.is-selected > .front,
.is-matched > .front {
  transform: rotateY(0);
}

.back {
  background: #6a89cc url(../assets/bg.png);
  background-size: 300%;
  background-position: center;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.is-selected > .back,
.is-matched > .back {
  transform: rotateY(180deg);
}

.card:nth-child(3n - 1) {
  margin-left: 4%;
  margin-right: 4%;
}

/* NOTE: These CSS classes are used in part 2 of the exercise. More specifically, they allow the user to customize the colour of the cards. */
.cards--red .back {
  background-color: #e55039;
}

.cards--green .back {
  background-color: #78e08f;
}

.cards--orange .back {
  background-color: #fa983a;
}
